@import './variables';

html {
    background: linear-gradient(0deg, rgb(250, 165, 108) 1%, rgba(168,184,226,1) 89%, rgba(148,187,233,1) 100%);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    background-color: unset !important;
    min-height: 100vh;
}

.navbar {
    position: sticky !important;
    top: 0;
    background: #8090c5;
    a {
    font-size: 25px;
    }

    #logo {
        border: 1px solid white;
    }
}

header {

    p {
        @include borderGlow;
    }
}

.container {
    text-align: center;
}

#inputBar {
    border: none;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}

#about {
    @include borderGlow;
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: rgba(255, 255, 255, 0.5);
}

.centerContainer {
    @include flexCenter;
}

.quoteContainer {
    @include flexCenter;
    flex-direction: column;
    position: fixed;
    bottom: 380px;
    max-height: 40px;
    text-align: center;
}

#quote {
    color: white;
    font-size: 2em;
    max-width: 70%;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

#author {
    color: white;
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
    padding-top: 40px;
    font-size: 20px;
}

.noDisplay {
    display: none;
}

.fadeIn {
    animation: fadeInAnimation ease 5s;
}